<h1>
  List of Cocktails
</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li>
      <strong>
        Cocktail:
      </strong>
      <%= link_to cocktail.name, cocktail_path(cocktail)  %>
    </li>
      <%= cl_image_tag cocktail.photo, height: 100, width: 100, crop: :fill, crop: :thumb, gravity: :face %>
  <% end %>
</ul>
